In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [6]:
df.set_index('id',inplace=True)
df

,keyword,location,text,target
id,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
14,NaN,NaN,There's an emergency evacuation happening now ...,1
15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
16,NaN,NaN,Three people died from the heat wave so far,1
17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
23,NaN,NaN,What's up man?,0
24,NaN,NaN,I love fruits,0
25,NaN,NaN,Summer is lovely,0
26,NaN,NaN,My car is so fast,0
28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
31,NaN,NaN,this is ridiculous....,0
32,NaN,NaN,London is cool ;),0
33,NaN,NaN,Love skiing,0
34,NaN,NaN,What a wonderful day!,0
36,NaN,NaN,LOOOOOOL,0
37,NaN,NaN,No way...I can't eat that shit,0
38,NaN,NaN,Was in NYC last week!,0
39,NaN,NaN,Love my girlfriend,0
40,NaN,NaN,Cooool :),0
41,NaN,NaN,Do you like pasta?,0
...,...,...,...,...
10835,NaN,NaN,Pic of 16yr old PKK suicide bomber who detonat...,1
10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0
10839,NaN,NaN,Calgary Police Flood Road Closures in Calgary....,1
10840,NaN,NaN,#Sismo DETECTADO #Jap√å_n 15:41:07 Seismic inte...,1
10841,NaN,NaN,Sirens everywhere!,0
10842,NaN,NaN,BREAKING: #ISIS claims responsibility for mosq...,1
10843,NaN,NaN,Omg earthquake,1
10844,NaN,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ¬â√õ√è...,1
10846,NaN,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,1
10847,NaN,NaN,An IS group suicide bomber detonated an explos...,1
10848,NaN,NaN,I just heard a really loud bang and everyone i...,0
10849,NaN,NaN,A gas thing just exploded and I heard screams ...,1
10850,NaN,NaN,NWS: Flash Flood Warning Continued for Shelby ...,1
10851,NaN,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,1
10852,NaN,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,1
10853,NaN,NaN,Father-of-three Lost Control of Car After Over...,1
10854,NaN,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,1
10855,NaN,NaN,Evacuation order lifted for town of Roosevelt:...,1
10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1
10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1
10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1
10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1
10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
10872,NaN,NaN,Police investigating after an e-bike collided ...,1
10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [20]:
df['length_of_tweet'] = df['text'].apply(lambda x: len(x))

In [38]:
df['keyword'].value_counts()

fatalities               45
armageddon               42
deluge                   42
sinking                  41
body%20bags              41
harm                     41
damage                   41
outbreak                 40
collided                 40
siren                    40
windstorm                40
fear                     40
evacuate                 40
twister                  40
wrecked                  39
hellfire                 39
wreckage                 39
flames                   39
sinkhole                 39
collision                39
earthquake               39
explosion                39
derailment               39
weapon                   39
famine                   39
weapons                  39
sunk                     39
whirlwind                39
fatal                    38
typhoon                  38
                         ..
devastated               31
obliterate               31
suicide%20bomber         31
mayhem                   30
avalanche                30
survivors                30
dead                     30
bioterrorism             30
catastrophic             30
annihilation             29
bombing                  29
obliteration             29
seismic                  29
sirens                   29
snowstorm                29
first%20responders       29
desolate                 29
rubble                   28
demolished               28
deluged                  27
volcano                  27
battle                   26
bush%20fires             25
war%20zone               24
rescue                   22
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [89]:
import numpy as np

In [104]:
df.loc[df['keyword'].isna(),'hashtags'] = df['text'].apply(lambda x: [i[1:] for i in x.split() if '#' in i])

In [105]:
keywords = set(df[~df.keyword.isna()].keyword.values)

In [149]:
df.loc[:, 'new_tag'] = x.hashtags.apply(lambda x: [i.lower() for i in x if i in keywords])

In [150]:
df['new_tag'] = df['new_tag'].apply(lambda x: x if x != [] and x != np.nan else np.nan)

In [152]:
df['new_tag'] = df['new_tag'].apply(lambda x: x[0] if type(x) == list else np.nan)

In [156]:
df.loc[df.keyword.isna(), 'keyword'] = df['new_tag']

In [159]:
df.keyword.isna().sum()

57

In [61]:
X = df.drop('target', axis=1)
y = df['target']

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=.2, random_state=2)

In [58]:
df

,keyword,location,text,target,length_of_tweet
id,,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,69
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,38
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,133
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,65
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,88
8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1,110
10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1,95
13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1,59
14,NaN,NaN,There's an emergency evacuation happening now ...,1,79
15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1,52
16,NaN,NaN,Three people died from the heat wave so far,1,43
17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1,129
18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1,76
19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1,39
20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1,56
23,NaN,NaN,What's up man?,0,14
24,NaN,NaN,I love fruits,0,13
25,NaN,NaN,Summer is lovely,0,16
26,NaN,NaN,My car is so fast,0,17
28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0,28
31,NaN,NaN,this is ridiculous....,0,22
32,NaN,NaN,London is cool ;),0,17
33,NaN,NaN,Love skiing,0,11
34,NaN,NaN,What a wonderful day!,0,21
36,NaN,NaN,LOOOOOOL,0,8
37,NaN,NaN,No way...I can't eat that shit,0,30
38,NaN,NaN,Was in NYC last week!,0,21
39,NaN,NaN,Love my girlfriend,0,18
40,NaN,NaN,Cooool :),0,9
41,NaN,NaN,Do you like pasta?,0,18
...,...,...,...,...,...
10835,NaN,NaN,Pic of 16yr old PKK suicide bomber who detonat...,1,130
10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0,127
10839,NaN,NaN,Calgary Police Flood Road Closures in Calgary....,1,69
10840,NaN,NaN,#Sismo DETECTADO #Jap√å_n 15:41:07 Seismic inte...,1,97
10841,NaN,NaN,Sirens everywhere!,0,18
10842,NaN,NaN,BREAKING: #ISIS claims responsibility for mosq...,1,132
10843,NaN,NaN,Omg earthquake,1,14
10844,NaN,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ¬â√õ√è...,1,145
10846,NaN,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,1,79
10847,NaN,NaN,An IS group suicide bomber detonated an explos...,1,136
10848,NaN,NaN,I just heard a really loud bang and everyone i...,0,60
10849,NaN,NaN,A gas thing just exploded and I heard screams ...,1,91
10850,NaN,NaN,NWS: Flash Flood Warning Continued for Shelby ...,1,107
10851,NaN,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,1,134
10852,NaN,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,1,122
10853,NaN,NaN,Father-of-three Lost Control of Car After Over...,1,114
10854,NaN,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,1,131
10855,NaN,NaN,Evacuation order lifted for town of Roosevelt:...,1,92
10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1,99
10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1,65
10862,NaN,NaN,Officials say a quarantine is in place at an A...,1,136
10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1,136
10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1,114
10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1,121
10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1,134
10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,83
10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,125
10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,65
10872,NaN,NaN,Police investigating after an e-bike collided ...,1,137
10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,94